#menuBG{
    margin-left: 35%;
}

#menu{
    width:400px;
    height: 470px;
    margin:10px auto;
    }

    #frmMenu{
        width:400px;
        height:200px;
    }

    #totalPrice{
        width:200px;
        height:190px;
        margin: 200px auto;
        float:right;
    }

    .left{
        width:200px;
        height:200px;
        float:left;
    }

    .right{
        width:200px;
        height:200px;
        float:right;
    }

    #showText{
        width:200px;
        height:190px;
        margin: 0 auto;
        float:left;
    }

    #cart{
        top:0;
        margin:-70px auto;
        width:100px;
        height:200px; 
    }

    #btnOrder{
        margin: 10px 0px 0px 100px;
        width:100px;
        height:40px;
        border-radius: 50%;
        box-shadow: black 5px 5px 5px;
    }

#totalPrice{
    margin-bottom: auto;
}

body{
    background-color: #333;
}

h1{
    font-family: cursive;
    color:white;
}

h3{
    font-family: cursive;
    color:whitesmoke;
}

div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:wheat;
}


.menu-bottom{
    color:red;
}

















