
.form{
    font-size:3em;
    font-weight: 900;
    text-shadow: 5px 5px 5px black;
    font-style: italic;
    width:50%;
    text-align: center;
    margin-left: 25%;
}
    form{
        font-size:large;
        background-color:#333;
        color:white;
        width:100%;
        text-align: center;
    }

    h2{
        color:black;
        font-size:smaller;
    }


    .submit{
        color:red;
        font-size: larger;
        background-color: #333;
        text-shadow: 5px 5px 5px black;
        font-family: cursive;
        font-weight: 900;
    }